<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/loginCSS/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Login</title>
</head>
<body>
    <form  action="otps" method="POST">  
    <div class="from1">
        <input class="userid" name="otp" id="otp" type="text" required autocomplete="off"/>
        <label class="label-name" id="user" for="otp">
            <span class="content-name">
            <i class="fa fa-fw fa-user"></i>OTP
            </span>
        </label>
                </div>
                    <br/>
                    <button type="submit" class="btn">Verify</button>
                </form>
</body>
</html>